#icons-as-fonts {
  margin-bottom: 2em;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;

    li {
      padding: 0 10px;

      i {
        font-size: 70px;

        &.icon-twitter {
          color: #00acee;
          font-size: 50px;
        }

        &.icon-youtube {
          color: #c4302b;
          font-size: 60px;
        }

        &.icon-facebook-logo {
          color: #3b5998;
          background-color: #fff;
          transition: all 0.3s ease;
          padding: 8px 0;

          &:hover {
            cursor: pointer;
            background: #3b5998;
            color: #FFF;
          }
        }


      }
    }
  }
}
