<p>
  This is landing page of a scalable angular app by <a href="https://adityatyagi.com/" target="_blank">Aditya Tyagi</a>
</p>

<h1>Version V12 is runnning ....</h1>

<section id="icons-as-fonts">
  <h1>Icons as fonts</h1>
  <div>
    <ul>
      <li><i class="icon icon-linkedin-logo"></i></li>
      <li><i class="icon icon-youtube"></i></li>
      <li><i class="icon icon-twitter"></i></li>
      <li><i class="icon icon-instagram-logo"></i></li>
      <li><i class="icon icon-facebook-logo"></i></li>
    </ul>
  </div>
</section>
