.scroll-to-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  opacity: 0;
  transition: all .2s ease-in-out;

  button {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    background: green;
    border-radius: 5px;
    width: 35px;
    height: 35px;
    opacity: 0.8;
    transition: all 0.3s ease;
    border: 1px solid green;
    transition: all 0.3s ease;

    &:hover {
      opacity: 1;
      box-shadow: 0 4px 5px rgba(0, 0, 0, 0.6);
    }

    &:focus,
    &:active {
      outline: none;
    }

    i {
      color: #fff;
      position: relative;
    }
  }
}

.show-scrollTop {
  opacity: 1;
  transition: all .2s ease-in-out;
}
